@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
:root {
  --col1: rgb(214, 208, 132);
  --col2_ligth: rgb(200, 253, 54);
  --col2: rgb(143, 173, 58);
  --col3: rgb(184, 61, 97);
  --col3_hover: rgb(131, 29, 59);
  --col_back: rgb(31, 25, 74);
  --col_text: rgb(242, 241, 215);
}
